<html>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
    <div>User: <%= message.username %></div>
    <div>Mesage: <%= message.text %></div>
    <div>Added: <%= message.added %></div>
    <a
      href="/message?user=<%= message.user %>&text=<%= message.text %>&added=<%= message.added %>"
      ><button>Open</button></a
    >
    <% }) %>
    <div>
      <a href="/new">New Message</a>
    </div>
  </body>
</html>
